.wrap > header
	background-color: #9EA2A4
	color: #1A1A1A
	padding: 0 20px
	display: flex
	justify-content: space-between
	align-items: center
	.logo
		display: flex
		align-items: center
		img
			padding-right: 1rem
		.desc
			span
				display: block
				&:first-of-type
					text-transform: uppercase
					font-weight: bold
				//&:nth-of-type(2)
					font-size: 0.9rem	
					padding-top: 0.3rem
	.social, .address, .email, .hours, .call
		span
			display: block
			&:first-of-type
				font-weight: bold
				padding-bottom: 0.5rem
			&:nth-of-type(2)
				font-size: 0.9rem		
	.social
		@media(max-width: 1080px)
			display: none
		.items
			display: flex
			justify-content: space-evenly
	.email
		@media(max-width: 1080px)
			display: none		
	.call
		@media(max-width: 470px)
			display: none
		span:nth-of-type(1)
			a
				color: $scarlet
				text-decoration: none
	.address
		a
			color: $black
		@media(max-width: 570px)
			display: none	
	.hours
		@media(max-width: 750px)
			display: none	



.wrap > nav
	background-color: $black
	padding: 0 20px
	
	ul
		display: flex
		justify-content: start
		padding-left: 0
		list-style: none
		margin: 0
		padding: 0.5rem 0
		@media(max-width: 1140px)
			justify-content: space-evenly
		@media(max-width: 570px)
			justify-content: start
			overflow-x: auto
			overflow-y: hidden
			-webkit-mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent)
			&::-webkit-scrollbar
				display: none

		li
			padding-right: 100px
			&:last-of-type
				padding-right: 0
			@media(max-width: 1140px)
				padding-right: 0			
			a
				color: #fff
				text-decoration: none
				padding: 0.5rem 1rem
				display: block
				border: 2px solid $black
				border-radius: 30px										
				&.active
					border-color: $scarlet
					color: $scarlet
.wrap > .slider
	height: 400px
	color: #fff
	display: flex
	align-items: flex-end
	background-repeat: no-repeat !important
	padding: 0 50px
	@media(max-width: 860px)
		flex-wrap: wrap
		height: auto
		background-size: cover !important
		background-position: -300px !important
	@media(max-width: 450px)
		background-position: -450px !important	
	.left
		padding-bottom: 3rem
		h2
			font-size: 2.1rem
			font-weight: normal
			line-height: 45px

		ul
			padding-left: 1rem
			li
				line-height: 25px		

	form.right
		padding-bottom: 5rem
		min-width: 360px
		span
			font-weight: bold
		input[type="text"]
			display: block
			padding: 0.5rem
			margin: 1rem 0
		input[type="submit"]
			padding: 0.5rem 1rem
			text-transform: uppercase
			font-weight: bold
			letter-spacing: 1px						

