body
	font-family: 'Roboto', sans-serif
	@media (min-width: 1140px)
		background: url(/assets/img/sand.jpg)
		background-repeat: repeat-y
		background-size: cover
	> .wrap
		width: 1140px
		margin: 0 auto
		background-color: #fff
		
