footer
	.logo
		a(href="/")
			img.lazyload(data-src="/assets/img/logo.webp")
		.desc
			span пескоструимвсе.бел
			span пескоструй / покраска
	.phone
		span
			a(href="tel:+375333922900") +375 33 392 29 00
		span Заказать звонок
	.email
		span Напишите нам
		span peskostruimvse@gmail.com
	.hours
		span График работы
		span Пн-Вс 9:20 - 19:00
.scripts-area
.modals
	.callback
		form.content
			span.close &times;
			p Оставьте свой номер, и мы вам перезвоним
			input(type="text" placeholder="+375 29 xxx xx xx" required)
			input(type="submit" value="Отправить")

