footer
	.logo
		img.lazyload(data-src="/assets/img/logo.webp")
		.desc
			span пескоструимвсе.бел
			span пескоструй / покраска
	.phone
		span
			a(href="tel:+375297777976") +375 29 777 79 76
		span Заказать звонок
	.email
		span Напишите нам
		span peskostruimvse@gmail.com
	.hours
		span График работы
		span Пн-Вс 9:20 - 19:00
