header
	.logo
		a(href="/")
			img(src='/assets/img/logo.webp')
		.desc
			span пескоструимвсе.бел
			span пескоструй / покраска
	.social
		span Наши соцсети
		.items
			img(src="/assets/img/viber.svg")
			img(src="/assets/img/youtube.svg")
			img(src="/assets/img/instagram.svg")
	.address
		span г. Заславль
		span
			a(href="#map") Показать на карте
	.email
		span Напишите нам
		span peskostruimvse@gmail.com
	.hours
		span График работы
		span Пн-Вс 9:20 - 19:00
	.call
		span
			a(href="tel:+375333922900") +375 33 392 29 00
		span Заказать звонок
	.undermenu(style="display: none")
		img(src="/assets/img/menu-open.svg")
		.inner(style="display: none")
			span
				a(href="tel:+375333922900") +375 33 392 29 00
			ul
				li
					a(href="") Услуги			
				li
					a(href="") Цены			
				li
					a(href="") Доставка	
				li
					a(href="") Информация	
				li
					a(href="") Вакансии		 	

nav
	ul
		li
			a.active(href="") Главная		
		li
			a(href="") Услуги			
		li
			a(href="") Цены			
		li
			a(href="") Доставка	
		li
			a(href="") Информация	
		li
			a(href="") Вакансии			