.slider(style="background:url(/assets/img/index/slider.webp)")
	.left
		h2 Пескоструйная обработка  на месте и с выездом в любую точку Беларуси
		ul
			li Пескоструй дисков
			li Полимерная (порошковая) покраска дисков
			li Покраска в ОКС(окрасочно-сушильной камере)
			li Чистим  и красим любые изделия и объемы
	form.right
		span Оставьте заявку на бесплатную консультацию
		input(type="text" placeholder="+375 29 xxx xx xx" required)
		input(type="submit" value="Отправить")
