extends ../layout/main

block variables
	- var title = 'Пескоструй в Минске';
	- var description = 'Оказываем услуги по пескоструйной обработке';
	- var pageClass = 'index-page';


block content
	h2 Наши услуги
	.service-items
		+item("01.jpg", "Пескоструй прицепов, спец.техники и грузовых авто")
		+item("02.jpg", "Пескоструй авто")
		+item("03.jpg", "Пескоструй дисков")
		+item("04.jpg", "Покраска дисков")
		+item("05.jpg", "Покраска в ОКС (окрасочно-сушильной камере)")
		+item("06.jpg", "Пескоструй бетона")
		+item("07.jpg", "Пескоструй с выездом")
		.item
	.price
		h2 Прайс
		p Цены на пескоструйную обработку (без покраски)
		.price-items

			+price(
					"tyre.svg",
					"Пескоструй литых дисков (4 шт.)",
					{
						"13 - 16 R": "100 р.",
						"17 R": "120 р.",
						"18 R": "140 р.",
						"от 19 R": "от 150 р.",

					}
			)

			+price(
					"car.svg",
					"Пескоструй авто",
					{
						"Кузов целиком": "от 400 р.",
						"Двигатель": "от 60 р.",
						"Днище целиком": "от 400 р.",
						"Порог": "40 р.",
						"Кромка двери, капота, крыла": "40 р.",
						"Суппорт (со скобой)": "15 р.",
						"Арка внутри": "40 р.",
						"Бампер": "от 50 р.",
						"Фаркоп": "от 30 р.",

					}
			)

			+price(
					"other.svg",
					"Прочее",
					{
						"Металл, м2": "от 20 р.",
						"Дерево, м2": "от 12 р.",
						"Кирпич, бетон": "от 12 р.",
						"Батарея, ребро": "7 р.",
						"Выезд бригады": "от 100 р.",
						"Час работы бригады": "от 120 р.",

					}
			)

			+price(
					"iron.svg",
					"Пескоструй железных дисков",
					{
						"13 - 14 ⌀ (4 шт.)": "70 р.",
						"15 - 17 ⌀ (4 шт.)": "80 р.",
						"17 ⌀ грузовой (1 шт.)": "30 р.",
						"19 ⌀ грузовой (1 шт.)": "40 р.",
						"22,5 ⌀ грузовой (1 шт.)": "50 р.",

					}
			)
		p Цены на порошковую (полимерную) покраску дисков и деталей (стоимость покраски включена):
		p В цену входит:
		ul
			li Доставка дисков в обе стороны.
			li Очистка от старой краски со специальной смывкой мелким абразивом без использования отжига.
			li Устранение бордюрки, царапин и следов коррозии.
			li Можем забрать вашу новую резину и обуть ее на восстановленные диски
		.price-items

			+price(
					"tyre.svg",
					"Покраска литых дисков (4 шт.)",
					{
						"12 - 15 R": "250 р.",
						"16 R": "280 р.",
						"17 R": "290 р.",
						"18 R": "350 р.",
						"19 R": "390 р.",
						"20 R": "430 р.",
						"21 R": "490 р.",

					}
			)

block script
