extends ../layout/main

block variables
  - var title = 'Пескоструй в Минске';
  - var description = 'Оказываем услуги по пескоструйной обработке';
  - var pageClass = 'index-page';

block content
  section
    .container
      +item('item title', 'item descr')
      +item('item title', 'item descr')
      +item('item title', 'item descr')
  example-component


block script
