extends ../layout/main

block variables
	- var title = 'Услуга';
	- var description = 'Оказываем услуги по пескоструйной обработке';
	- var pageClass = 'service-page';


block content
	h2 Примеры работ
	.service-items.fancy
		+fancy("01.b.jpg","01.jpg")
		+fancy("02.b.jpg","02.jpg")
		+fancy("03.b.jpg","03.jpg")
		+fancy("04.b.jpg","04.jpg")

	.content
		h3 ПЕСКОСТРУЙ — ВТОРАЯ ЖИЗНЬ ДЛЯ АВТОМОБИЛЯ И ФАСАДА ЗДАНИЯ 
		p Пескоструй в Минске — уникальный метод очистки и воздействия на поверхность, который применяется для удаления и очистки различного материала от коррозии, а также избавление покрытий автотранспортных средств (автомобилей, мотоциклов и велосипедов) от лишних слоёв лакокрасочного покрытия. Так же мы выполняем пескоструй металла в Витебске, Бресте, Могилеве, Гомеле и Гродно. Основным материалом для использования Дробеструйной обработки являются толстостенные изделия из металла. С помощью данного способа очистки мы очистим внутреннюю поверхность железных труб, цистерн, а также металлоконструкций различных форм. Наши специалисты окажут для Вас работы с бетоном, изделиями из камня и кирпичными стенами. 

		p Пескоструй - это, по своей сути, абразивная очистка поверхности под высоким давлением. Благодаря высокому давлению и постоянному потоку сжатого воздуха, мелкие абразивные частицы вылетают из специализированного пистолета, оказывая воздействие на поверхность. Данное воздействие, позволяет удалить все рыхлые, неустойчивые слои практически любой поверхности (дерева, металла, бетона) , а также укрепить данный материал и уберечь от дальнейших повреждений.

		p Недавно в нашей огранизации появилась новая услуга, порошковая (полимерная) покраска дисков и другого металла.

		h2 Пескоструй дисков до/после
		.cocoen
			img.lazyload(src="/assets/img/service/1040-1.jpg")
			img.lazyload(src="/assets/img/service/1040-2.jpg")
	#map.map
		iframe(class="lazyload" data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1173.0184844093692!2d27.2394342!3d53.9843673!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDU5JzAzLjkiTiAyN8KwMTQnMjMuMSJF!5e0!3m2!1sru!2sby!4v1585678895245!5m2!1sru!2sby" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
					
				

block script
